.loginCardBackground {
  background: linear-gradient(
    141.42deg,
    rgba(129, 127, 127, 0.35) 14.61%,
    rgba(74, 74, 74, 0.30647) 26.14%,
    rgba(204, 202, 202, 0.261781) 49.05%,
    rgba(60, 59, 59, 0.133) 66.39%,
    rgba(180, 176, 176, 0.2345) 89.77%
  );
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 8px;
}
