.G9-table {
  table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
  }
  td {
    min-height: 120px;
    border: solid 1px theme("colors.G9LightGrey");
    border-style: solid none;
    padding: 10px;
    background-color: theme("colors.G9LightGrey");
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 80%;
      left: 0px;
      top:10%;
      margin-top: auto;
      background-color: theme("colors.white");
    }
  }
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    &:before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0%;
    }
  }
  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
